.path-astronomy-picture-of-the-day .content .image-date {
  font-weight: 450;
  font-size: 1em;
  margin-bottom: 0.75em;
}

.path-astronomy-picture-of-the-day .content .nasa-apod-error {
  color: #ff0000;
  text-align: center;
}

.path-astronomy-picture-of-the-day .content figcaption,
.path-astronomy-picture-of-the-day .content .copyright {
  font-style: italic;
}

.path-astronomy-picture-of-the-day .content a.apod-image-link {
  border-bottom: none;
}

div.item-list {
  text-align: center;
}

div.item-list > ul#nasa-apod-navigation > li {
  display: inline;
  padding: 0.5em;
}

div.item-list > ul#nasa-apod-navigation > li.is-active {
  font-weight: bold;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}