.block-nasa-apod-block {

}

.block-nasa-apod-block  .nasa-apod-title {
  font-weight: bold;
  text-align: center;
}

.block-nasa-apod-block  .view-more-link a {
  display: block;
  width: 80px;
  margin: 0 auto;
  font-size: 0.75rem;
  border-bottom: none;
}