{% if data.image %}
  {% with data.image %}
<div class="nasa-apod-image">
  {% if image.media_type == 'video' %}
    {% set image_url = thumbnail_url %}
  {% else %}
    {% set image_url = url %}
  {% endif %}
  <a href="{{ data.link.url }}" title="{{ title }}"><img src="{{ image_url }}" alt="{{ title }}" title="{{ title }}"/></a>
</div>
<div class="nasa-apod-title">
  {{ title }}
</div>
  {% endwith %}
{% endif %}
<div class="view-more-link">
  {{ data.link }}
</div>

